@page "/"

<h1>JS Interop</h1>

<ul>
	<li><a href="apptojs">App to JS</a></li>
	<li><a href="apptojs-module">App to JS - Module</a></li>
	<li><a href="apptojs-module">App to JS - Performance</a></li>
	<li><a href="jstoapp">JS to App</a></li>
</ul>
