<h3>Component B</h3>
<p>Value: @ValueHolder.Value</p>

@code {
	[CascadingParameter]
	public ValueHolder ValueHolder { get; set; }

	//protected override async Task OnAfterRenderAsync(bool firstRender)
	//{
	//	await Task.Delay(3000);
	//	StateHasChanged(); // nooooo
	//}
}
