@page "/"

<h2>Table of Content</h2>

<ol>
	<li><a href="/sample1">Problem definition</a></li>
	<li><a href="/sample2">Events</a></li>
	<li><a href="/sample3">Databinding</a></li>
	<li><a href="/sample4">Cascading Value and Cascading Parameter</a></li>
	<li><a href="/sample5">Event Aggregator</a></li>
	<li><a href="/sample6">Fluxor</a></li>
</ol>
