@page "/"

<ul>
	<li><a href="page01">page01</a> - HTML</li>
	<li><a href="page02">page02</a> - Form data</li>
	<li><a href="page03">page03</a> - Edit Form, DataAnnotationsValidator, ValidationSummary</li>
	<li><a href="page04">page04</a> - Multiple submits</li>
	<li><a href="page05">page05</a> - InputText, Validation Message</li>
	<li><a href="page06">page06</a> - Parsing Error</li>
	<li><a href="page05">page07</a> - Parsing Error</li>
	<li><a href="page05">page08</a> - DataAnnotations &amp; lokalizace</li>
	<li><a href="page05">page09</a> - Fluent Validation</li>
	<li><a href="page05">page10</a> - Input File</li>
	<li><a href="page05">page11</a> - HAVIT Blazor</li>
</ul>

