@page "/component08"

<h1>Razor directives</h1>

@*
	@attributes
	@code
	@implements
	@inherits
	@inject
	@layout
	@model
	@namespace
	@page
	@using
*@

<h1>Razor directives</h1>
@*
	@attributes
	@bind
	@on{EVENT}
	@key
	@ref
	@typeparam
*@
