@page "/component05"

<h1>Attribute splatting and arbitrary parameters</h1>

<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/splat-attributes-and-arbitrary-parameters?view=aspnetcore-8.0">ASP.NET Core Blazor attribute splatting and arbitrary parameters</a>