<h3>Component05</h3>

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-5.0#attribute-splatting-and-arbitrary-parameters-1

@*
	Attribute splatting and arbitrary parameters
*@
