@page "/component14"

<h1>Events - Databinding</h1>

<MyInputComponent Text="@text" TextChanged="HandleTextChanged" />
@*<MyInputComponent @bind-Text="text" />*@

<p>Text: @text</p>

@code {
	string text;

	private void HandleTextChanged(string newText)
	{
		text = newText;
	}
}