@page "/component15"

<h1>Generic Components</h1>

<MyGenericDisplayComponent Value="@("something")" />
<MyGenericDisplayComponent Value="@(1)" />
<MyGenericDisplayComponent Value="@(new DateTime(2020, 1, 1))" />

