@page "/component13"

<h1>Events - Components (in a loop)</h1>

@for (int i = 1; i < 6; i++)
{
	int j = i; @* https://unicorn-dev.medium.com/how-to-capture-a-variable-in-c-and-not-to-shoot-yourself-in-the-foot-d169aa161aa6 *@
	@* Nelze: <MyButtonComponent OnClick="HandleClick(i)">@i</MyButtonComponent>*@
	<MyButtonComponent OnClick="() => HandleClick(j)">@j</MyButtonComponent>
	@*<MyButtonComponent OnClick="async () => await HandleClickAsync(j)">@j</MyButtonComponent>*@
}

<p>Last choice: @lastChoice</p>

@code {
	int? lastChoice;

	private void HandleClick(int value)
	{
		lastChoice = value;
	}

	//private Task HandleClickAsync(int value)
	//{
	//	lastChoice = value;
	//	return Task.CompletedTask;
	//}
}