@page "/component14"

<h1>Databinding</h1>

<MyInputComponent Text="@text" TextChanged="HandleTextChanged" />
<MyInputComponent @bind-Text="text" />
<MyInputComponent @bind-Text="text" @bind-Text:after="HandleTextChanged2" />

<p>Text: @text</p>

@code {
	string text;

	private void HandleTextChanged(string newText)
	{
		text = newText;
	}

	private void HandleTextChanged2()
	{
	}

}

@* https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Forms/InputBase.cs#L55 *@