@page "/component14"

<h1>Databinding</h1>

<MyInputComponent @bind-Text="text" />
@*<MyInputComponent Text="@text" TextChanged="HandleTextChanged" />*@

<p>Text: @text</p>

@code {
	string text;

	//private void HandleTextChanged(string newText)
	//{
	//	text = newText;
	//}
}