@page "/component21/{Username}/{Identifikator:int?}"

<h1>Routing</h1>

<p class="username">Username: @Username</p>
<p class="identifikator">Identifikator: @Identifikator</p>

@code
{
	[Parameter] public string Username { get; set; }
	[Parameter] public int? Identifikator { get; set; }
}
