@page "/"

<h1>Blazor Lifecycle</h1>

<h2>Basic</h2>
<ul>
	<li><a href="/Demo01">Demo01 - Simple</a></li>
	<li><a href="/Demo01">Demo01Ref - Ref</a></li>
	<li><a href="/Demo02">Demo02 - Show/Hide</a></li>
	<li><a href="/Demo03">Demo03 - Changing parameter value</a></li>
</ul>

<p>DemoComponent - uncomment awaits...</p>

<ul>
	<li><a href="/Demo01">Demo01 - Simple</a></li>
	<li><a href="/Demo02">Demo02 - Show/Hide</a></li>
	<li><a href="/Demo03">Demo03 - Changing parameter value</a></li>
	<li><a href="/Demo04">Demo04 - Changing parameter value II</a></li>
</ul>

<ul>
	<li><a href="/Demo05">Demo05 - Events TODO name</a></li>

	<li><a href="/Demo04">Demo04 - Ref</a></li>
	<li><a href="/Demo05">Demo05 - Events</a></li>
	<li><a href="/Demo06">Demo06 - Events II</a></li>
	<li><a href="/Demo07">Demo07 - EventsCallbacks</a></li>
	<li><a href="/Demo08">Demo08 - OnInitializedAsync, OnParametersSetAsync &amp; async</a></li>
</ul>
