@page "/"

<ul>
	<li><a href="page01">page01</a> - No error handling</li>
	<li><a href="page02">page02</a> - Error Boundary</li>
	<li><a href="page03">page03</a> - Error Boundary &amp; ErrorContent</li>
	<li><a href="page04">page04</a> - ErrorBoundary &amp; Recover</li>
	<li><a href="page05">page05</a> - Custom error boundary</li>
</ul>