@page "/page05"

<h1>Custom error boundary</h1>

<input type="number" @bind="number" />

<MyCustomErrorBoundary>
	<ChildContent>
		<MyComponent Value="@number" />
	</ChildContent>
	<ErrorContent>
		Value must be positive.
	</ErrorContent>
</MyCustomErrorBoundary>

@code {
	private int number = 1;
}
