@page "/page03"

<h1>Error Boundary &amp; ErrorContent</h1>

<input type="number" @bind="number" />

<ErrorBoundary>
	<ChildContent>
		<MyComponent Value="@number" />
	</ChildContent>
	<ErrorContent>
		Value must be positive.
	</ErrorContent>
</ErrorBoundary>

@code {
	int number = 1;
}
